<%= render "header" %>

<%= link_to "+ Add a New Movie",  new_movie_url %>

<h3 class="index">Movies You've Recently Watched</h3>
<ul>
  <% @most_recent_movies.each do |movie| %>
    <li>
		<div class="movieImg">
			<%= link_to image_tag(movie.poster), movie_path(movie) %>
		</div>
		<%= link_to movie.title, movie_path(movie) %> 
	</li>
  <% end %>
</ul>

<h3 class="index">All Movies</h3>
	<ul>
		<% @movies.each do |movie| %>
	<li>
		<div class="movieImg">
			<%= link_to image_tag(movie.poster), movie_path(movie) %>
		</div>
		<%= link_to movie.title, movie_path(movie) %> 
	</li>
		<% end %>
	</ul>

<h3 class="index">Movies more than 1 Month Old 
	(<%= Movie.created_before(1.month.ago).count %>)
</h3>
<ul class="olderMovies">
  <% @older_than_one_month.each do |movie| %>
    <li>
		<%= link_to movie.title, movie_path(movie) %> 
	</li>
  <% end %>

  <% if @older_than_one_month.blank? %>
	 	<p>No movies are that old!</p>
	<% end %>
</ul>